<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="    
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd  
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.2.xsd  
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<context:component-scan
		base-package="com.travel.system.*" />

	<!-- 加载外部的properties配置文件 -->
	<context:property-placeholder
		location="classpath:jdbc.properties" />

	<!-- 配置数据库连接池（c3p0） -->
	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- 基本信息 -->
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="driverClass" value="${jdbc.driverClass}"></property>
		<property name="user" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>

	<!-- 添加sessionFactory bane ，注意，该类是Spring提供的 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		scope="prototype">
		<property name="dataSource" ref="dataSource" />

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServer2008Dialect
				</prop>
				<prop key="show_sql">
					true
				</prop>
				<prop key="format_sql">
					true
				</prop>
				<prop key="hbm2ddl.auto">
					update
				</prop>
			</props>
		</property>
		<!-- 数据表映射配置文件 -->
		<property name="mappingResources">
			<list>
				<value>com/travel/system/model/UserInfo.hbm.xml</value>
			</list>
		</property>
	</bean>

	<bean id="baseDao"
		class="com.travel.system.common.AbstractBaseDao" scope="prototype">
		<!-- 把sessionFactory 注入给AbstractBaseDao -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="userInfoDao" class="com.travel.system.dao.UserInfoDao"
		parent="baseDao" />

	<bean id="userInfoAction"
		class="com.travel.system.action.UserInfoAction" scope="prototype">
		<!-- 把userInfoDao 注入给userInfoAction -->
		<property name="userInfoDao" ref="userInfoDao" />
	</bean>

	<!-- 配置事务管理器 指定其作用的sessionFactory把事务交给Spring去处理 -->

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- 配置事务的传播特性 -->
	<tx:advice id="txAdvice"
		transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="saveOrUpdate*" propagation="REQUIRED" />
			<tx:method name="query*" read-only="true"
				propagation="NOT_SUPPORTED" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<!-- 那些类的哪些方法参与事务 -->
	<aop:config>
		<aop:pointcut id="allServiceMethod"
			expression="execution(* 
		com.travel.system.*.*(..))" />
		<aop:advisor pointcut-ref="allServiceMethod"
			advice-ref="txAdvice" />
	</aop:config>
</beans>

